<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css.css')}}">
</head>
<h1>Bienvenu dans notre site d'assurance auto</h1>

<body>

<div class="introduction">

    <p>
        Nous sommes ravis de vous accueillir dans notre communauté dédiée à trouver des foyers aimants pour les animaux
        de compagnie qui ont besoin d'une nouvelle famille.

        Notre mission est de faciliter les adoptions d'animaux de compagnie en créant des liens durables entre les
        animaux et les familles d'accueil. Nous sommes passionnés par les animaux et nous nous engageons à faire en
        sorte que chaque animal trouve la famille qui lui convient le mieux.

        Sur notre site, vous pourrez parcourir une grande variété d'animaux de compagnie à adopter, tels que des chiens,
        des chats, bien d'autres encore.
    </p>

</div>

</body>