<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TP3 adoption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
<header>
    <div class="navigation">

        <div class="index">
            <a href="/">Acceuil</a>
        </div>
        <div class="mise-adoption">
            <label for="adopter">Ajouter un animal</label>
            <button id="adopter">+</button>
        </div>
        <div class="recherche">
            <form action="/recherche" method="POST">
                <label>
                    <input class="input-recherche" type="text" name="recherche" placeholder="...">
                </label>
                <button id="recherche" class="button">Recherche</button>
            </form>
        </div>
    </div>
</header>
{% block content %} {% endblock %}
<script src="/js/script.js"></script>

</body>
</html>