{% extends "layout.html" %}
{%  block content %}

<div class="principale">
    <h2>Resultat de votre recherche</h2>
    <div class="introduction">
        <p>Voici une liste des animaux qui correspondent a votre recherche : </p>
    </div>

    <div class="animaux">
        {% for animal in resultat %}
        <div class="conteneur">
            <p class="race">Race : {{ animal.get('race') }} </p>
            <ul>
                <li>{{ animal.get('nom') }}</li>
                <li>{{ animal.get('description') }}</li>
            </ul>
            <div class="button-div">
                <form action="/animal" method="POST">
                    <button class="button" name="animal" value="{{animal.get('nom')}}">{{animal.get('nom')}}</button>
                </form>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}