html {
    background-color: rgba(40, 44, 52, 0.75);
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #e8e9ef;
}

body {
    margin: 0;
}

a:visited {
    color: white;
}

a:active {
    color: red;
}

.input-recherche {
    height: 25px;
    border-radius: 12px;
    padding-left: 10px;
}

.navigation {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a353d;
    margin: 0 0 2rem 0;
}

.navigation ul {
    list-style: none;
}

.navigation ul:hover {
    transform: scale(1.1);
}

.recherche {
    width: 33%;
    text-align: right;
}


.mise-adoption {

    width: 33%;
    text-align: right;
    margin-right: 5rem;
}

.mise-adoption > * {
    cursor: pointer;
}


.principale {
    margin-left: 2rem;
}

.message-introuvable h2 {
    text-align: center;
}

.introduction {
    margin: 2em 0 0 2em;
}

.conteneur {
    position: relative;
    height: 10rem;
    padding: 1rem;
    border: 2px solid #423939;
    border-radius: 20px;
    box-shadow: #564545 0px 5px 15px;
}

.conteneur:hover {
    box-shadow: #572a2a 0px 5px 15px;
}

.race {
    margin: 0;
}

.animaux {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.animaux > * {
    width: 15%;
}

.button-div {
    margin-top: 1rem;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}


/*
source du Style boutton  :
https://copy-paste-css.com/
*/

.button {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(66, 150, 53);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px,
    rgb(210, 210, 210) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s, box-shadow .24s;
}


.button:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px,
    rgb(210, 210, 210) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}


.page-animal {
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
}

.conteneur-animal {
    width: 50%;
    margin-left: 2rem;
}

.page-introuvable {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
}
.titre-introuvable{
    font-size: 2.5rem;
 color: #000000;
}

img {
    border-radius: 5px;
    max-height: 100%;
    max-width: 60%;
}


#formulaire {
    display: flex;
    border: 2px solid #7c7474;
    justify-content: center;
    margin-top: 2rem;
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 38rem;

}

#formulaire form input {
    height: 2rem;

}

.alignement {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.alignement * {
    width: 15rem;
}

.details span {
    display: none;
    color: red;
    margin: auto;

}

.back-end-erreur {
    color: red;
    display: block;
}