html {
    background-color: rgba(40, 44, 52, 0.75);
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #e8e9ef;
}

.navigation {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a353d;
    margin: 0 0 2rem 0;
}

.navigation ul {
    list-style: none;

}

.navigation ul:hover {
    transform: scale(1.1);
}

.principale {
    margin-left: 2rem;
}

.introduction {
    margin: 2em 0 0 2em;
}

.conteneur {
    position: relative;
    height: 10rem;
    padding: 1rem;
    border: 2px solid #423939;
    border-radius: 20px;
    box-shadow: #564545 0px 5px 15px;

}

.conteneur:hover {
    box-shadow: #572a2a 0px 5px 15px;
}

.race {
    margin: 0;
}

.animaux {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.animaux > * {
    width: 15%;
}

.button-div {
    margin-top: 1rem;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    cursor: pointer;
    background-color: #c2baba;
}
.button:hover{
        box-shadow: #b3b99c 0px 3px 10px;
}